wp-config.php

wp-content/debug.log
wp-content/cache

/wp-content/themes/zdorovaya-natciya/node_modules
/wp-content/themes/zdorovaya-natciya/vendor
/wp-content/themes/zdorovaya-natciya/public

/wp-content/themes/zdorovaya-natciya/public
/wp-content/themes/zdorovaya-natciya/.env
/wp-content/themes/zdorovaya-natciya/.budfiles
/wp-content/themes/zdorovaya-natciya/npm-debug.log
/wp-content/themes/zdorovaya-natciya/yarn-error.log
/wp-content/themes/zdorovaya-natciya/front/node_modules
/wp-content/themes/zdorovaya-natciya/front/.git
/wp-content/themes/zdorovaya-natciya/front/dev
/wp-content/themes/zdorovaya-natciya/front/prod

/wp-content/themes/zdorovaya-natciya/.vscode
/wp-content/themes/zdorovaya-natciya/.idea
/wp-content/themes/zdorovaya-natciya/front/.vscode
/wp-content/themes/zdorovaya-natciya/front/.idea
/wp-content/themes/zdorovaya-natciya/front/package-lock.json
