mixin know(data)
    section.know
        .know__container.container
            h2.know__title.title.title_reg_sec А вы <span>знали,</span> что:
            ul.know__list
                li.know__item.know__item_1
                    .know__item-title 4 000%
                    .know__item-subtitle Окупаемость
                    .know__item-text Наш рекордный процент окупаемости инвестиций в email-маркетинге. В среднем эти показатели достигают до 2 000%.

                    != pugHelpers.Icon.call(locals, {iconName: 'know-1-icon', className: 'know__icon'})

                li.know__item.know__item_2
                    .know__item-title 4 <span>миллиарда</span>
                    .know__item-subtitle Перспективы
                    .know__item-text Пользователей email в 2020 году. К 2025 году прогнозируется их увеличение до 4,5 млрд.

                    != pugHelpers.Icon.call(locals, {iconName: 'step-2-side-icon', className: 'know__icon'})

                li.know__item.know__item_3
                    .know__item-title <span>до</span> 30%
                    .know__item-subtitle Возможности
                    .know__item-text Продаж в интернет-магазинах можно обеспечить с помощью email-рассылок.

                    picture.know__icon
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/know-3-icon@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/know-3-icon@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/know-3-icon@2x.png" width="83" height="83" )

                li.know__item.know__item_4
                    .know__item-title 90%
                    .know__item-subtitle Конверсия
                    .know__item-text Писем доставляются адресатам, в то время как рекламный пост в социальной сети увидят лишь 30% подписчиков, из которых только 10% перейдут по ссылке.

                    != pugHelpers.Icon.call(locals, {iconName: 'know-4-icon', className: 'know__icon'})

                li.know__item.know__item_5
                    .know__item-title > 73%
                    .know__item-subtitle Креативность
                    .know__item-text Миллениалов (поколение Y) предпочитают вести коммуникации с бизнесом посредством e-mail переписок.


                    picture.know__icon
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/know-5-icon@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/know-5-icon@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/know-5-icon@2x.png" width="48" height="48" )

                li.know__item.know__item_6
                    .know__item-title ~ 59%
                    .know__item-subtitle Практика
                    .know__item-text Маркетологов называют email-маркетинг наиболее значимым источником ROI.

                    != pugHelpers.Icon.call(locals, {iconName: 'know-1-icon', className: 'know__icon'})



mixin know-eng(data)
    section.know
        .know__container.container
            h2.know__title.title.title_reg_sec Do you <span>know</span> that:

            ul.know__list
                li.know__item.know__item_1
                    .know__item-title 4 000%
                    .know__item-subtitle payback
                    .know__item-text Our record return on investment in email marketing. On average, these indicators reach up to 2,000%.

                    != pugHelpers.Icon.call(locals, {iconName: 'know-1-icon', className: 'know__icon'})

                li.know__item.know__item_2
                    .know__item-title 4 <span>billion</span>
                    .know__item-subtitle prospects
                    .know__item-text Email users in 2020. By 2025, they are projected to increase to 4.5 billion users.

                    != pugHelpers.Icon.call(locals, {iconName: 'step-2-side-icon', className: 'know__icon'})

                li.know__item.know__item_3
                    .know__item-title <span>up to</span> 30%
                    .know__item-subtitle opportunities
                    .know__item-text Sales in online stores can be provided via email newsletters.

                    picture.know__icon
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/know-3-icon@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/know-3-icon@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/know-3-icon@2x.png" width="83" height="83" )

                li.know__item.know__item_4
                    .know__item-title 90%
                    .know__item-subtitle of conversion rate
                    .know__item-text Emails are delivered to their recipients, while on the social media only 30% of subscribers will see an advertising post, and only 10% of them will click on the link.


                    != pugHelpers.Icon.call(locals, {iconName: 'know-4-icon', className: 'know__icon'})

                li.know__item.know__item_5
                    .know__item-title > 73%
                    .know__item-subtitle of creativity
                    .know__item-text Millennials (Generation Y) prefer to communicate with businesses through e-mailing, as they saw it in old movies.


                    picture.know__icon
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/know-5-icon@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/know-5-icon@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/know-5-icon@2x.png" width="48" height="48" )

                li.know__item.know__item_6
                    .know__item-title ~ 59%
                    .know__item-subtitle practice
                    .know__item-text Marketing experts call email marketing the most significant source of ROI, because it is cheaper than almost any advertising campaign.

                    != pugHelpers.Icon.call(locals, {iconName: 'know-1-icon', className: 'know__icon'})
