mixin trust(data)
    section.trust
        .trust__container.container
            h2.trust__title.title.title_reg_sec Нам <span>доверяют</span>
            ul.trust__list
                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-1@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-1@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-1@2x.png" width="164" height="48" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-2@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-2@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-2@2x.png" width="161" height="35" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-3@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-3@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-3@2x.png" width="128" height="35" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-4@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-4@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-4@2x.png" width="159" height="34" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-5@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-5@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-5@2x.png" width="92" height="38" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-6@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-6@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-6@2x.png" width="132" height="31" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-7@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-7@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-7@2x.png" width="104" height="60" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-8@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-8@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-8@2x.png" width="147" height="30" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-9@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-9@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-9@2x.png" width="142" height="30" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-10@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-10@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-10@2x.png" width="126" height="39" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-11@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-11@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-11@2x.png" width="124" height="36" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-12@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-12@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-12@2x.png" width="83" height="50" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-13@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-13@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-13@2x.png" width="84" height="47" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-14@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-14@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/partners-14@2x.png" width="102" height="36" )


        picture.trust__icon
            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/trust-icon@2x.webp")
            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/trust-icon@2x.png")
            img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/trust-icon@2x.png" width="94" height="199" )



mixin trust-eng(data)
    section.trust
        .trust__container.container
            h2.trust__title.title.title_reg_sec We <span>are trusted by</span>
            ul.trust__list
                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-1@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-1@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-1@2x.png" width="164" height="48" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-2@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-2@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-2@2x.png" width="161" height="35" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-3@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-3@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-3@2x.png" width="128" height="35" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-4@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-4@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-4@2x.png" width="159" height="34" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-5@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-5@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-5@2x.png" width="92" height="38" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-6@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-6@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-6@2x.png" width="132" height="31" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-7@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-7@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-7@2x.png" width="104" height="60" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-8@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-8@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-8@2x.png" width="147" height="30" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-9@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-9@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-9@2x.png" width="142" height="30" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-10@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-10@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-10@2x.png" width="126" height="39" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-11@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-11@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-11@2x.png" width="124" height="36" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-12@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-12@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-12@2x.png" width="83" height="50" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-13@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-13@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-13@2x.png" width="84" height="47" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-14@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-14@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-14@2x.png" width="102" height="36" )

        picture.trust__icon
            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/trust-icon@2x.webp")
            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/trust-icon@2x.png")
            img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/general/trust-icon@2x.png" width="94" height="199" )
